# Bot Telegram
python-telegram-bot==20.7

# Google Sheets & Drive
gspread==6.0.0
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0

# PDF Generator
reportlab==4.0.9
Pillow==10.2.0

# Utilities
python-dotenv==1.0.1
pytz==2024.1
